.container.head {
	color: #424242;
	border-bottom: solid 1px rgba(0,0,0,0.2);
	position: relative;
	top: 80px;
	font-size: 44px;
}
.container.innerLinks {
	position: absolute;
	left: 20px;
	top: 200px;
}
.container-fluid.body {
	position: absolute;
	top: 160px;
	width: 96%;
	margin-left: 2%;
	height: 800px;
}
.link {
	border: solid 1px rgba(0,0,0,0);
	background-color: #99D9CC;
	height: 50px;
	width: 250px;
	font-size: 24px;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 5px;
	margin-top: 2px;
}
.container-fluid.cardSlider {
	background-color: #424242;
	width: 100%;
	height: 290px;
	border-radius: 0px 9px 9px 0px;
}
.container.cardSliderControl svg {
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}
.container.cardSliderControl {
	position: absolute;
	width: 50px;
	height: 290px;
	background-color: #000000;
}
#leftControl {
	left: 253px;
	border-radius: 9px 0px 0px 9px;
}
#rightControl {
	right: 0px;
	border-radius: 0px 9px 9px 0px;
}
body {
	background-color: #efefef;
}